* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: inline;
}

.jumbotron {
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 236, 129);
  height: 100vh;
  justify-content: center;
  justify-content: center;
}

.jumbotron-text {
  font-size: 2.5em;
}

.img-luqman {
}

/* membuat navbar */

nav {
  background-color: #e9eb65;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav a {
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-weight: 900;
  color: red;
}

nav li {
  display: inline;
  margin-right: 20px;
  list-style-type: none;
}
